---

---
    <nav class="flex  justify-between p-2">
        <div class="basis-1/4 flex">
            <img alt="Logo" class="rounded-full w-8 h-8" src="avatar.jpeg"></img>
            <h1 class="mx-1 font-bold text-lg">Angel Velazquez</h1>
        </div>
        <ul class="basis-1/4 flex justify-around p-1">
            <li class="mx-2 font-medium"><a class="hover:text-cyan-400" href="/proyects">Proyectos</a></li>
            <li class="mx-2 font-medium"><a class="hover:text-cyan-400" href="/about">Sobre mi</a></li>
            <li class="mx-2 font-medium"><a class="hover:text-cyan-400" href="/contact">Contacto</a></li>
        </ul>
    </nav>
