---
import Card from '../components/Card.astro'
---
<section class="flex flex-col justify-center items-center h-screen w-100 bg-white text-black">
    <img class="rounded-full mb-4 w-52 h-52" src="/avatar.jpeg" alt="" srcset="">
    <h1 class="text-5xl font-semibold">Angel Eduardo Velazquez Morales</h1>
    <h2 class="text-3xl font-normal">Desarrollador Full Stack</h2>
    <h5 class="text-xl font-light">Ingeniero en Sistemas Computacionales</h5>
</section>
<section class="flex flex-col justify-center items-center h-screen w-100 bg-black text-white">
    <h1 class="text-3xl font-normal">Hola!</h1>
    <p>Soy un Ingeniero en proceso con un amplia trayectoria en el <strong>mundo de la programación</strong> </p>
    <p>Me gusta aprender cosas nuevas y estar en constante crecimiento</p>
    <div>
        <h1 class="text-3xl font-normal pt-8">Tecnologias</h1>
    </div>
</section>

<style>

</style>