---
interface Props {
	title: string,
    git: string,
    desc: string,
    image: string;
}
const { title,git,desc,image } = Astro.props;
import '@fontsource-variable/quicksand';
---
<div class="flex flex-col p-1">
    <img src={image} alt="" class="">

</div>
