---
interface Props {
	title: string;
}
const { title } = Astro.props;

import Header from '../components/Header.astro';
import Info from '../components/Info.astro';
import '@fontsource-variable/quicksand';
---



<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<Info />
		<slot />
	</body>
</html>
<style is:global >
	

	body{
		background: #000;
		color: #000;
		font-family: 'Quicksand Variable', sans-serif;
		/* max-width: 1200px; */
	}

</style>
