---
interface Props {
	title: string;
}
const { title } = Astro.props;

import Header from '../components/Header.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';


import '@fontsource-variable/quicksand';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<section class="flex flex-col justify-center items-center mt-10 ">
			<img class="rounded-full mb-4 w-52 h-52" src="/avatar.jpeg" alt="Logo" >
			<h1 class="text-5xl font-semibold ">Angel Eduardo Velazquez Morales</h1>
			<!-- <h2 class="text-3xl font-normal">Desarrollador Full Stack</h2> -->
			<h5 class="text-2xl font-light bg-gradient-to-r from-blue-400 via-green-300 to-indigo-400 text-transparent bg-clip-text py-1">Ingeniero en Sistemas Computacionales</h5>
			<div class="flex">
				<Button title="Github" link="https://github.com/KrazyLemon" />
				<Button title="Linkedin" link="https://www.linkedin.com/in/angel-eduardo-velazquez-morales/" />
			</div>
		</section>
		
		<section class="flex flex-col justify-center">
			<h1 class="flex justify-center text-3xl font-light m-1">Proyectos</h1>
			<div class="grid grid-cols-4 grid-rows-3 gap-2">
				<div class="row-start-1 row-end-3 col-start-1 col-end-2 rounded-md flex flex-col justify-center border border-white/5  bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2 ">
					1
				</div>
				<div class="row-start-1 row-end-2 col-start-2 col-end-4 rounded-md flex flex-col justify-center border border-white/5  bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					2
				</div>
				<div class="row-start-1 row-end-3 col-start-4 col-end-5 rounded-md flex flex-col justify-center border border-white/5  bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					3
				</div>
				<div class="row-start-2 row-end-3 col-start-2 col-end-4 rounded-md flex flex-col justify-center border border-white/5  bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					4
				</div>
				<div class="row-start-3 row-end-4 col-start-1 col-end-3 rounded-md flex flex-col justify-center border border-white/5  bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					5
				</div>
				<div class="row-start-3 row-end-4 col-start-3 col-end-5 rounded-md flex flex-col justify-center border border-white/5  bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					6
				</div>
			</div>

		</section>

		<!-- <section class="mt-10 flex align-middle w-full m-auto bg-opacity-5 bg-white rounded-md p-2">
			<img class="w-52 h-52" src="/avatar.jpeg" alt="logo" >
			<div class="flex flex-col justify-center mx-2">
				<h2 class="text-3xl font-semibold m-1">Sobre mi</h2>
				<p class="text-lg font-light m-1 ">
					Ingeniero en Sistemas con experiencia en desarrollo de software,
					soy una persona apasionada por la tecnología y el desarrollo de 
					web,he trabajado en proyectos de desarrollo de software,
					soy una persona autodidacta y me gusta aprender cosas nuevas.
				</p>
			</div>
		</section> -->
		
		<section class="mt-5 flex flex-col align-middle w-full  p-2 mb-2">
			<h2 class="flex justify-center text-3xl font-light m-1 mb-5">Habilidades</h2>
			<div class="grid grid-cols-5 grid-rows-2 gap-3">
				<div class="row-start-1 row-end-3 col-start-1 col-end-3 rounded-md flex flex-col justify-center border border-white/5  bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					<h1 class="flex justify-center text-3xl font-light bg-gradient-to-r from-blue-700 to-green-800  text-transparent bg-clip-text ">Frontend</h1>				
					<div class="flex flex-row flex-wrap justify-center w-2/3 m-auto">
						<Card img="svg/html.svg" title="HTML" />
						<Card img="svg/css.svg" title="CSS" />
						<Card img="svg/js.svg" title="JS" />
						<Card img="svg/tw.svg" title="Tailwind" />
						<Card img="svg/react.svg" title="React" />
						<Card img="svg/astro.svg" title="Astro" />
					</div>
				</div>
				<div class="row-start-1 row-end-2 col-start-3 col-end-6 rounded-md flex flex-col justify-center border border-white/5 bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					<h1 class="flex justify-center text-3xl font-light bg-gradient-to-r from-blue-700 to-green-800  text-transparent bg-clip-text ">Backend</h1>
					<div class="flex flex-row flex-wrap justify-center w-2/3 m-auto ">
						<Card img="svg/spring.svg" title="Spring" />
						<Card img="svg/ex.svg" title="Express" />
						<Card img="svg/psql.svg" title="PostgreSQL" />
						<Card img="svg/sql.svg" title="MySQL" />
					</div>
				</div>
				<div class="row-start-2 row-end-3 col-start-3 col-end-6 rounded-md flex flex-col justify-center border border-white/5 bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					<h1 class="flex justify-center text-3xl font-light bg-gradient-to-r from-blue-700 to-green-800  text-transparent bg-clip-text ">Lenguajes de programacion</h1>
					<div class="flex flex-row flex-wrap justify-center w-2/3 m-auto ">
						<Card img="svg/java.svg" title="java" />
						<Card img="svg/cpp.svg" title="C++" />
						<Card img="svg/py.svg" title="Python" />
					</div>
				</div>
				<div class="row-start-3 row-end-4 col-start-1 col-end-6 rounded-md flex flex-col justify-center border border-white/5 bg-gradient-to-r from-blue-400/10  to-slate-800/10 p-2">
					<h1 class="flex justify-center text-3xl font-light bg-gradient-to-r from-blue-700 to-green-800  text-transparent bg-clip-text ">Utilidades</h1>
					<div class="flex flex-row flex-wrap justify-center w-2/3 m-auto ">
						<Card img="svg/git.svg" title="Git" />
						<Card img="svg/github.svg" title="GitHub" />
						<Card img="svg/postman.svg" title="Postman" />
						<Card img="svg/docker.svg" title="Docker" />
						<Card img="svg/aws.svg" title="AWS" />
					</div>
				</div>

			</div>
		</section>
		
	</body>
</html>
<style is:global >
	body{
		font-family: 'Quicksand Variable', sans-serif;
		max-width: 1200px;

		
		color: white;

		margin: auto;
		padding: 0%;
		
		background: rgb(1,0,11);
		background: -moz-linear-gradient(270deg, rgba(1,0,11,1) 53%, rgba(0,0,52,1) 100%);
		background: -webkit-linear-gradient(270deg, rgba(1,0,11,1) 53%, rgba(0,0,52,1) 100%);
		background: linear-gradient(270deg, rgba(1,0,11,1) 53%, rgba(0,0,52,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01000b",endColorstr="#000034",GradientType=1);
	}

	
</style>
