---
interface Props {
	title: string;
}
const { title } = Astro.props;

import Header from '../components/Header.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';

import '@fontsource-variable/quicksand';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<section class="flex flex-col justify-center items-center mt-10 ">
			<img class="rounded-full mb-4 w-52 h-52" src="/avatar.jpeg" alt="" srcset="">
			<h1 class="text-5xl font-semibold">Angel Eduardo Velazquez Morales</h1>
			<!-- <h2 class="text-3xl font-normal">Desarrollador Full Stack</h2> -->
			<h5 class="text-xl font-light">Ingeniero en Sistemas Computacionales</h5>
			<div class="flex">
				<Button title="Github" link="https://github.com/KrazyLemon" />
				<Button title="Linkedin" link="https://www.linkedin.com/in/angel-eduardo-velazquez-morales/" />
			</div>
		</section>
		<section class="mt-10">
			<h2 class="text-3xl font-semibold m-1">Sobre mi</h2>
			<p class="text-lg font-light m-1">
				Desarrollador Full Stack con experiencia en el desarrollo de aplicaciones web. 
				Apasionado por la tecnología y el desarrollo de software. 
				En constante aprendizaje y en busca de nuevos retos.
			</p>
			<h2 class="text-3xl font-semibold m-1 ">Habilidades</h2>
			<div class="flex">
				<div class="basis-1/4 flex flex-col justify-center align-middle items-center rounded-md m-1 bg-white/10 ">
					<h3 class="text-2xl font-semibold m-1">Frontend</h2>
					<ul class="m-2 grid grid-cols-3 gap-1">
						<li><Card title="Astro" img="/svg/front/astro.svg" /></li>
						<li><Card title="React" img="/svg/front/react.svg" /></li>
						<li><Card title="Tailwind" img="/svg/front/tw.svg" /></li>
					</ul>
				</div>
				
				<div class="basis-1/2 flex flex-col justify-center align-middle items-center rounded-md m-1 bg-white/10 ">
					<h3 class="text-2xl font-semibold m-1">Backend</h2>
						<ul class="m-2 grid grid-cols-3 gap-1">
							<li><Card title="Java" img="/svg/back/java.svg" /></li>
							<li><Card title="Spring" img="/svg/back/spring.svg" /></li>
							<li><Card title="Express" img="/svg/back/ex.svg" /></li>
						</ul>
				</div>
			</div>
			<div class="flex">
				<div class="basis-1/2 flex flex-col justify-center align-middle items-center rounded-md m-1 bg-white/10 ">
					<h3 class="text-2xl font-semibold m-1">Databases</h2>
						<ul class="m-2 grid grid-cols-3 gap-1">
							<li><Card title="Java" img="/svg/back/java.svg" /></li>
							<li><Card title="Spring" img="/svg/back/spring.svg" /></li>
							<li><Card title="Express" img="/svg/back/ex.svg" /></li>
						</ul>
				</div> 
				<div class="basis-1/2 flex flex-col justify-center align-middle items-center rounded-md m-1 bg-white/10 ">
					<h3 class="text-2xl font-semibold m-1">Extra</h2>
						<ul class="m-2 grid grid-cols-3 gap-1">
							<li><Card title="Java" img="/svg/back/java.svg" /></li>
							<li><Card title="Spring" img="/svg/back/spring.svg" /></li>
							<li><Card title="Express" img="/svg/back/ex.svg" /></li>
						</ul>
				</div> 
			</div>
		</section>
		<div class="pt-10"></div>
	</body>
</html>
<style is:global >
	body{
		font-family: 'Quicksand Variable', sans-serif;
		max-width: 1200px;

		
		color: white;

		margin: auto;
		padding: 0%;
		
		background: rgb(1,0,11);
		background: -moz-linear-gradient(270deg, rgba(1,0,11,1) 53%, rgba(0,0,52,1) 100%);
		background: -webkit-linear-gradient(270deg, rgba(1,0,11,1) 53%, rgba(0,0,52,1) 100%);
		background: linear-gradient(270deg, rgba(1,0,11,1) 53%, rgba(0,0,52,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01000b",endColorstr="#000034",GradientType=1);
	}

	
</style>
